
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'node_modules/bootstrap-vue/src/index.scss';

body {
	padding-bottom: 20px;
}

li.nav-messages {
	padding-top: 14px;
	padding-bottom: 14px;
}

.navbar-nav, .cal-nav {
	flex-wrap: wrap;
}

.main-nav {
	box-shadow: 0px 10px 20px #AAA;
	margin-bottom: 1.2em;
	flex-wrap: wrap;
}


.error { color: #A00; }
.danger { color: #A00; }
.warning { color: #DC9200; }
.success { color: #0A0; }
.note { color: #3C8DBC; }

.error-badge { background-color: #A00; color: #FFF; font-size: 100%; font-weight: normal; }
.danger-badge { background-color: #A00; color: #FFF; font-size: 100%; font-weight: normal; }
.warning-badge { background-color: #DC9200; color: #FFF; font-size: 100%; font-weight: normal; }
.success-badge { background-color: #0A0; color: #FFF; font-size: 100%; font-weight: normal; }
.note-badge { background-color: #3C8DBC; color: #FFF; font-size: 100%; font-weight: normal; }

.clickable {
	cursor: pointer;
}

.results-title {
	margin-top: 0;
	margin-bottom: 20px;
	padding-left: 0;
}
.table-label {
	color: #888;
}

td.center, th.center {
	text-align: center;
}

.app-list a {
	font-size: 150%;
}
.app-list span.fa {
	width: 2em;
	text-align:center;
}

/*fix for missing btn-xs in bootstrap 4, which works well in tables */
$btn-padding-x-xs:  .25rem !default;
$btn-padding-y-xs:  .17rem !default;
$input-btn-line-height-xs: 1.1 !default;
.btn.btn-xs {
   // line-height: ensure proper height of button next to small input
   @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-sm, $input-btn-line-height-xs, $btn-border-radius-sm);
}

#gridview .table th,
#gridview .table td {
  padding: 0.12rem;
  vertical-align: top;
  border-top: 2px solid #dee2e6;
}


