div#timesheets {
    font-family:Consolas;
    font-size:large;
    padding:0.5em;
}

div#timesheets .flights-grid{
    display: grid;
    background: white;
    grid-template-columns: repeat(auto-fill, minmax(16em,1fr));
}

div#timesheets * p{
    margin-bottom:0;
}

div#timesheets * p.long{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#timesheets * p.bold{
    font-weight:bold;
}

div#timesheets * .flight{
    margin:0.25em;
}

div#timesheets * .flight .card-body{
    padding: 0.5em;
    border: 2px solid rgba(0, 0, 0, 0.250);
    border-radius: 0.25em;
}

div#timesheets * .flight .card-grid{
    display: grid;
    text-align: center;
}
